<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="container">
  <form #loginData="ngForm" (ngSubmit)="validate(loginData)">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" ngModel class="form-control" id="email" placeholder="Enter email" name="email">
      
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" ngModel class="form-control" id="pwd" placeholder="Enter password" name="pswd">
    </div>
    <div class="form-group form-check">
      <label class="form-check-label">
        <input class="form-check-input" ngModel type="checkbox" name="remember"> Remember me
      </label>
    </div>
    <button type="submit"  class="btn btn-primary">Submit</button>
  </form>
</div>

</body>
</html>