<div><h1>Welcome to Angular : {{username}}</h1>
<!--<app-register></app-register>
<app-login></app-login>
<emps></emps> -->
<!-- <p>Child Data:{{childdata}}</p>
<app-payroll [uname]="username" (notify)="parentMethod($event)"></app-payroll>
</div> -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link"  routerLink="login">LOGIN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="register">REGISTER</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="emps">EMPLOYEE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="users">USERS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="adduser">ADD USER</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  (click)="Logout()">LOGOUT</a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>

