
<html>
    <head>
        <title>Users Info</title>
    </head>
    <body>
        <h3>Users Info</h3>
     
        <table class="table">
            <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email Id</th>
            <th>Operation</th>
            </tr>
            <tr *ngFor="let user of usersinfo" >
                <!--<td><a [routerLink]="['getuser',user.id]">{{user.id}}</a></td>-->
                <td><a routerLink='getuser'>{{user.id}}</a></td>
                
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>
                    <i class="fa-solid fa-trash" (click)="onDelete(user)"></i>
                </td>
                <td>
                    <i class="fa-solid fa-pen-to-square" (click)="onUpdate(user)"></i>
                </td>
            </tr>
            
        </table>
    </body>
</html>
